{%extends "base_template.html" %}
{% block title %}Consultar{% endblock %}
{% block content %}
<div class="container">
    <h1>Consultar registros</h1>
    <form action="http://localhost:5000/consultar" method="post">
        <div class="input-group">
            <label for="legajo">Número de legajo</label>
            <input type="number" name="legajo" required>
        </div>
        <div class="input-group">
            <label for="dni">Últimos 4 digitos del DNI</label>
            <input type="text" name="dni" required maxlength="4" pattern="\d*">
        </div>
        <div class="input-group">
            <label for="fechaEntrada">Fecha de entrada</label>
            <input type="date" name="fechaEntrada" required">
        </div>
        <div class="input-group">
            <label for="fechaSalida">Fecha de salida</label>
            <input type="date" name="fechaSalida" required">
        </div>
        <button class="btn" type="submit">Consultar registros</button>
    </form>
    <hr>
</div>
{% endblock %}